:root {
    --main-color : #5865f2;
}

img {
    width: 100%;
    display: block;
}

header {
    padding: 0 48px;
    height: 64px;
}

.header-container {
    width: 1160px;
    height: 100%;
    margin: 0 auto;

    display: flex;

    justify-content: space-between;
    align-items: center;
}

.menu-box {
    display: flex;
    gap: 16px;
}

.menu-box > a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
}

.header-container a:hover {
    text-decoration: underline;
}

.lang-select {
    display: flex;
    align-items: center;
    gap: 4px;
}

.lang-select::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border: 1px solid var(--main-color);
    transform: rotate(45deg);
    border-top: none;
    border-left: none;

}

main {    
    height: 320px;
    background-image: url(../discord/img/배경.png);
    background-size: cover;
    background-position: center;
    padding: 0 32px;
}

.main-container {
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

h1 {
    color: white;
    font-size: 48px;
    font-weight: bold;
}


.search-container {
    position: relative;
    width: 100%;
    color: gray;

}

.search-icon {
    position: absolute;

    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.search-container > input {
    display: block;
    width: 100%;
    padding: 8px;
    padding-left: 32px;
    border-radius: 8px;
    border: none;
}


