

main {
    width: 100%;
    height: 771px;
    padding-top: 76px;
    background-color: #f6f8fa;;
}

.main-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

.main-container img {
    width: 540px;
    height: 695px;
}

.main-contents {
    width: 370px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 122px;
    margin-left: 32px;
}

.main-contents h1 {
    font-size: 48px;
    line-height: 120%;
}

.sign-in-big {
    width: 366px;
    height: 54px;
    border: none;
    background-color: #21c531;
    font-size: 16px;
    color: #ffffff;
    border-radius: 4px;
}

.sign-up-big {
    width: 366px;
    height: 54px;
    border: 1px solid #ebebeb;;
    background-color: #ffffff;
    font-size: 16px;
    color: #333;
    border-radius: 4px;
}

.links {
    height: 75px;
    margin-top: 32px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links > li {
    color: #444;
}

.link-hlight {
    color: #21c531;
    font-weight: bold;
    margin-left: 16px;
}

.section-container {
    display: flex;
    flex-direction: column;
}

.club-main {
    height: 540px;
    background-image: url(../NBAND/img/bg_intro.jpg);
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #ffffff;
}

.club-main h2 {
    font-size: 42px;
}

.club-main p {
    margin-top: 32px;
    text-align: center;
    line-height: 150%;
}

.club-detail {
    height: 400px;
    padding: 50px;
    display: flex;
    margin: 0 auto;
    gap: 48px;
}

.detail-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.detail-list img {
    width: 300px;
    height: 160px;
}

.detail-list h3 {
    font-size: 24px;
    color: #222;
}

.detail-list p {
    font-size: 15px;
    color: #444;
    line-height: 160%;
}

#more-band {
    max-width: 1000px;
    height: 716px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.more-container {
    display: flex;
    justify-content: space-between;
}

.more-container h2 {
    font-size: 24px;
    color: #222;
}

.more-container a {
    font-size: 14px;
    text-decoration: none;
    color: #222;
}

.band-ul {
    width: 500px;
    height: 720px;
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
}

.band-li {
    display: flex;
    gap: 16px;
}

.band-img img {
    width: 93px;
    height: 93px;
    border-radius: 8px;
}

.li-contents {
    width: 390px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
}

.li-title {
    font-size: 16px;
    font-weight: bold;
}

.li-text {
    height: 14px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.member {
    font-size: 12px;
    color: #999;
}

.total::after {
    content: '·';
    font-weight: bold;
    margin-left: 2px;
    font-size: 16px;
}

.li-contents a {
    text-decoration: none;
    font-size: 12px;
    color: #000;
}


footer {
    width: 100%;
    height: 120px;
    background-color: #2a3038;
}

.footer-container {
    width: 1000px;
    margin: 0 auto;
    padding: 23px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.footer-list {
    display: flex;
    font-size: 13px;
}

.footer-list a {
    text-decoration: none;
    color: #777;
}

.footer-list .highlight {
    color: #b3b3b3;
    font-weight: bold;
}

.footer-list a::after {
    content: '·';
    margin: 0 4px 0 4px;
}

.copyright {
    height: 20px;
}

.copyright p {
    font-size: 13px;
    color: #b3b3b3;
}